.navbar {

  background-color: #de1d22;
}
#body{
  background-color: #ededed;
}


#color-de-texto{
  color: white;
  font-family: 'Inter', sans-serif;
}

.h5{
  color: white;
  font-family: 'Inter', sans-serif;
  background-color: black;
}


#card-red{
  background-color: #de1d22;
}
.card-text{
  color: #ededed;
}
.card-title{
  color: #ededed;
}
